
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #d9d9d9a8;
    color: black;
    padding: 10px 0;
   
    box-shadow: 0,0,0;
  
    width: min(100%);
    position: fixed;

    top: 0;
    left: 0;
    z-index: 1000;
      
  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  
    
}

.logo img {
  width: 200px;
  text-align: center;
}

.logo{
    width: 150px;
    height: 150px ;
    
   transform: translateY(-20%);

}
ul {
    list-style: none;
    display: flex;
}

ul li {
    margin: 0 10px;
}

ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    transition:  0.5s ease;
}

ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #FFC002;
    color:#0E6F04 ;
}

/* Styles réactifs */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img {
        margin-bottom: 10px;
    }

    ul {
        flex-direction: column;
        width: 100%;
    }

    ul li {
        margin: 5px 0;
    }

    ul li a {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }

    .logo img {
        width: 200vw; 
        max-width: 40px; /* Limite maximale */
        min-width: 20px; /* Limite minimale */
    }

    ul li a {
        padding: 10px 0;
    }
}
/*fin style nav*/
.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro img {
    width: 100px;
    display: block;
    margin: 20px auto;
}

.culture {
   background-color: #0E6F04;
}


.intro{
    display: flex;
    transform: translate(0px,200px);
}


.intro img{
    width: 500px;
    transform: translateY(-50px);
  
  
}

.intro a{
    font-size: 30px;
    color: #0E6F04;
    text-decoration-color: #FFC002;
}

.intro p{
    width: 600px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }
    .info-mida, .intro img {
        margin: 0 0 10px 0;
    }
}